.custom-rounded-button {
    border-radius: 20px; 
  }
  .main-body{
    background-color: white;
  }
.logo-class{
    margin-left:200px;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.blue-part h1{
    line-height: 1;
}

.blue-part p{
    /* line-height: 1; */
}
.button-color{
    background-color:#FF4D1C;
}
.orange-text{
    color:#FF4D1C
}

.headphone-image{
    
    margin-left:5%;
    margin-right:5%;

}
.headphone1{
    margin-left:50px;
}
.headphone2{
    margin-left:70px;
}

.headphone3{
    margin-left:150px;
    margin-right: 50px;
}

.types{
    padding-bottom: 300px;

}

.types-images{
    position: relative;
    width:100%;
    
}
.test-button{
    margin-bottom: 90%;
}

.headphone-placeholder1{
    position: absolute;
    margin-left: 320px;
    
    
}
.headphone-placeholder2{
    position: absolute;  
    margin-left: 580px;
   
}
.headphone-placeholder3{
    position: absolute; 
    margin-left: 850px;
}
.green-part{
    background-color:#37A000;
}
.green-text{
    color:#37A000;
}
.blue-bg{
    background-color:#5DCAE1;
}

.grey-bg{
    background-color:#F0F3F7;
}
.grey-text{
    color:#454545;
}
  .video {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 90px;
  }
  
  .video::before {
    content: url('../images/Base.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
  }
  
  .video::after {
    content: url('../images/square.png');
    position: absolute;
    left: 150%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 20px;
  }
   @media (max-width: 640px) {

    .main-body{
        width:100%;
        overflow-x: hidden;
    }
    .header nav{
        width: 20%;
    }

    .header a{
        font-size:15px;
        width: 15%;
        

    }
    .logo-class {
        flex-direction: column;
        align-items: center;
        margin-left:-2%;
        width:15%;
        
      }
     
      .logo-class h1 {
        margin-right: 35%;
        text-align: center;
        font-size:13px;
      }
      .header button{
        font-size:13px;
        /* width:30%; */
        /* margin-left:-50%;
        margin-top:-5%; */
    }

    /* .main-body{
        width:100%;
        overflow-x: hidden;
    }
     .Header{
        width:100%;
     }
     .Header a{
        font-size:12px;
        margin-left:-46%;
        margin-right:50%;

    }
    .logo-class {
        flex-direction: column;
        align-items: center;
        margin-left:5%;
        
      }
      .logo{
        width:15%;
        margin-right:180px;
      }
      .logo-class h1 {
        margin-left:-100%;
        text-align: center;
        font-size:13px;
      }
      .Header a{
        font-size:13px;
        width:18%;
        margin-left:-50%;
        margin-top:-5%;
    }
    .logo-class {
        align-items: center;
        width:10%;
        margin-left:-3%;
      }
      .logo-class h1 {
        align-items: center;
        font-size:15px;
        margin-left: 1%;
      }
      .header button{
        font-size:20px;
    }
    
    .blue-part h1{
        font-size:20px;
        margin-left: -170%;
        width:200%;
     }
     .blue-part p{
        font-size:15px;
        margin-left: -170%;
        width:200%;
     }
     .custom-rounded-button {
        width: 100%;
        margin-right: 0; 
      }
     .blue-part a{
        font-size:10px;
     }
     .details-part{
        height:4000px;

     }
     .features-part{
        margin-top:10%;
        margin-bottom:10%;
     }

     .features-part h1{
        font-size:20px;
        width: 70%;
        
    }
    .features-part p{
        font-size:15px;
        width:70%;
        margin-top:30px;
    }

    .features-part h2{
        font-size:15px;
        width:100%;
        margin-top:30px;
        margin-left:-50%;
    }
    .features-part .icon-text{
        width:100%;
        margin-left:-50%;
        line-height: 1.5;
         margin-bottom: 10px
    }
    .icon{
        
        width:40%;
     }
      .green-black-part{
        margin-bottom:200%;
      }
      .green-part h1{
        font-size:60px;
        width:100%;
        margin-left:5%;
       }
       .green-part p{
         font-size:50px;
         width:90%;
         margin-left:5%;
        }
.green-part button{
    font-size:50px;
    width:50%;
    margin-left:5%;
}
.black-part p{
    font-size:80px;
}

.video::after {
    top: 20%;
  }
  .headphone1{
    margin-left:400px;
    width:80%;
}
.headphone2{
    margin-left:400px;
    width:80%;
    margin-bottom:600%;
}
.details-part p{
    width:1000px;
    font-size:50px;
}
.details-part h1{
    width:1000px;
    font-size:50px;
}
.details-part button{
    margin-left:400px;
}
.blue-bg {
    
}
.types h1{
    font-size:60px;
}
.types p{
    font-size:50px;
}

.feedback-part h1{
    font-size:60px;
}

.feedback-part p{
    font-size:50px;
    width:100%;
    margin-bottom:5%;
}

.feedback-part span{
    font-size:50px;
}
.feedback-part td{
    width:100%;
}

.price-part td{
    width:100%;
}
.price-part h1{
    font-size:80px;
}
.price-part p{
    font-size:50px;
}

.price-part button{
    font-size:50px;
}
.subscribe-part h1{
    font-size:70px;
}

.subscribe-part p{
    font-size:50px;
}

.subscribe-part input-part{
    width:500%;
    height:500px;

}

.subscribe-part input{
    width:1200px;
    height:150px;
    font-size:50px;
}

.subscribe-part button{
    font-size:70px;
    width:100%;
    margin-top:110px;
    margin-left:850px;

}
.border::placeholder {
    font-size: 50px; 
  }

  .footer h1{
    font-size:80px
  }
  .footer p{
    font-size:50px
  } */

}
   