.custom-rounded-button {
    border-radius: 20px; 
  }
.logo-class{
    margin-left:200px;
}

.logo{
    content: url('../images/logo.png'); 
}
.blue-part h1{
    line-height: 1;
}

.blue-part p{
    /* line-height: 1; */
}
.button-color{
    background-color:#FF4D1C;
}
.orange-text{
    color:#FF4D1C
}
.arrow-icon{
    content: url('../images/arrow-Icon.png');
}
.heart-icon{
    content: url('../images/heart-Icon.png');
}
.sound-icon{
    content: url('../images/sound-Icon.png');
}
.headphone-image{
    content: url('../images/headphones.png');
    width:70%;
    margin-left:10%;
}
.speakeer-icon{
    content: url('../images/speaker-Icon.png');
}
.layers-icon{
    content: url('../images/layers-Icon.png');
}
.wireless-icon{
    content: url('../images/wireless-Icon.png');
}

.headphone1{
    content: url('../images/headphone1.png');
    width:50%;
    margin-left:100px;
}

.headphone2{
    content: url('../images/headphone2.png');
    width:50%;
    margin-left:100px;
}

.headphone3{
    content: url('../images/headphone3.png');
    width:60%;
    margin-left:100px;
}

.headphone-placeholder1{
    content: url('../images/ImagePlaceHolder.png');
    width:70%;
}
.headphone-placeholder2{
    content: url('../images/ImagePlaceHolder2.png');
    width:70%;
}

.square-placeholder{
    content: url('../images/SquarePlaceHolder.png');
    width:20%; 
}

.orange-square{
    content: url('../images/01.png');
}
.empty-square{
    content: url('../images/02.png');
}

.icon1{
    content: url('../images/Icon-01.png');
    
}
.icon2{
    content: url('../images/Icon-02.png');
}
.icon3{
    content: url('../images/Icon-03.png');
}
.icon4{
    content: url('../images/Icon-04.png');
}
.icon5{
    content: url('../images/Icon-05.png');
}
.icon6{
    content: url('../images/Icon-06.png');
} 

.logo1{
    content: url('../images/logo1.png');
}

.green-part{
    background-color:#37A000;
}
.green-text{
    color:#37A000;
}
.blue-bg{
    background-color:#5DCAE1;
}

.grey-bg{
    background-color:#F0F3F7;
}
.grey-text{
    color:#454545;
}
  .video {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 90px;
  }
  
  .video::before {
    content: url('../images/Base.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
  }
  
  .video::after {
    content: url('../images/square.png');
    position: absolute;
    left: 150%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 20px;
  }
   @media (max-width: 640px) {

    .main-body{
        background-color: white;
    }
    .Header a{
        font-size:40px;
    }
    .logo-class {
        flex-direction: column;
        align-items: center;
        font-size:35px;
        margin-bottom: 10px;
        margin-right:5%;
        margin-left:5%;
        
      }
      .logo-class h1 {
        margin-top: 10px;
        text-align: center;
        font-size:40px;
      }
      .Header button{
        font-size:40px;
    }

    .blue-part h1{
        font-size:70px;
        width:90%;
        margin-left:25%;
     }
     .blue-part p{
        font-size:50px;
        width:90%;
        margin-left:25%;
     }
     .blue-part button{
        font-size:40px;
        width:50%;
     }
     .details-part{
        height:4000px;

     }
     .features-part{
        margin-top:10%;
        margin-bottom:10%;
     }

     .features-part h1{
        font-size:60px;
    }
    .features-part p{
        font-size:50px;
        width:100%;
        margin-top:30px;
    }

    .features-part h2{
        font-size:50px;
        width:300%;
        margin-top:30px;
        margin-left:-50%;
    }
    .features-part .icon-text{
        width:300%;
        margin-left:-50%;
        line-height: 1.5;
         margin-bottom: 10px
    }
    .icon{
        width:40%;
     }
     td {
        display: block;
        box-sizing: border-box; 
        font-size:70px;
        padding:15px;
        text-align:center;
      }
      .green-black-part{
        margin-bottom:200%;
      }
      .green-part h1{
        font-size:60px;
        width:100%;
        margin-left:5%;
       }
       .green-part p{
         font-size:50px;
         width:90%;
         margin-left:5%;
        }
.green-part button{
    font-size:50px;
    width:50%;
    margin-left:5%;
}
.black-part p{
    font-size:80px;
}

.video::after {
    top: 20%;
  }
  .headphone1{
    margin-left:400px;
    width:80%;
}
.headphone2{
    margin-left:400px;
    width:80%;
    margin-bottom:600%;
}
.details-part p{
    width:1000px;
    /* margin-left:200px; */
    font-size:50px;
}
.details-part h1{
    width:1000px;
    font-size:50px;
}
.details-part button{
    margin-left:400px;
}
.blue-bg h1{
    width:90%;
    font-size:60px;
}
.blue-bg p{
    width:90%;
    font-size:50px;

}
.blue-bg button{
    width:50%;
    font-size:50px;

}
.blue-bg {
    margin-left:-35%;
}
.types h1{
    font-size:60px;
}
.types p{
    font-size:50px;
}
.headphone-placeholder1{
 width:100%;
 margin-top:5%;
}
.headphone-placeholder2{
    width:100%;
    margin-top:5%;
}
.feedback-part h1{
    font-size:60px;
}

.feedback-part p{
    font-size:50px;
    width:100%;
    margin-bottom:5%;
}

.feedback-part span{
    font-size:50px;
}
.feedback-part td{
    width:100%;
}

.price-part td{
    width:100%;
}
.price-part h1{
    font-size:80px;
}
.price-part p{
    font-size:50px;
}

.price-part button{
    font-size:50px;
}
.subscribe-part h1{
    font-size:70px;
}

.subscribe-part p{
    font-size:50px;
}

.subscribe-part input-part{
    width:500%;
    height:500px;

}

.subscribe-part input{
    width:1200px;
    height:150px;
    font-size:50px;
}

.subscribe-part button{
    font-size:70px;
    width:100%;
    margin-top:110px;
    margin-left:850px;

}
.border::placeholder {
    font-size: 50px; 
  }

  .footer h1{
    font-size:80px
  }
  .footer p{
    font-size:50px
  }
  /* .logo1{
    width:500%;
  } */
}
   