/* .icon1{
    content: url('./images/icon-01.png');
    
}
.icon2{
    content: url('./images/icon-02.png');
}
.icon3{
    content: url('./images/icon-03.png');
}
.icon4{
    content: url('./images/icon-04.png');
}
.icon5{
    content: url('./images/icon-05.png');
}
.icon6{
    content: url('./images/icon-06.png');
}  */